Y4O4X0_0924/Y4O4X0_mozi.dtd

<!ELEMENT mozi (film*)>
<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ELEMENT rendezo (#PCDATA)>
<!ELEMENT szinesz (#PCDATA)>
<!ELEMENT iro (#PCDATA)>
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (akció | horror | vígjáték) #REQUIRED>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ATTLIST iro id ID #REQUIRED>  
