Y4O4X0_0924/Y4O4X0_orarend.dtd

<!ELEMENT SZK_orarend (ora*)>
<!ELEMENT ora (targy+, idopont+, helyszin+, oktato+, szak+)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap+, tol+, ig+)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>

<!ATTLIST ora id ID #REQUIRED>
<!ATTLIST ora tipus (gyakorlat | elmelet) #REQUIRED>